* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spline Sans Mono', monospace;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, rgb(35, 0, 117), rgb(10, 113, 248));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */
.to-do {
    width: 640px;
    min-height: 240px;
    background: rgb(255, 255, 255);
    padding: 40px 30px 70px;
    border-radius: 25px;
}

.to-do h2 {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do h1 img {
    max-width: 25px;
    margin-left: 10px;
}

/* Input */

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(10, 113, 248);
    color:black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul {
    padding-inline-start: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/unchecked.svg);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: -20px;
}

ul li.checked {
    color: #000000;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/2745074.png);
}


ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;

    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}